extends ../layout

block content
  h1 #{title} // El título se pasa desde el controlador, ej., "Asignar Cama para Admisión ID: X (Paciente: Apellido, Nombre)"

  // Sección de Información de Admisión y Paciente
  div.row.mt-3
    div.col-md-6
      div.card
        div.card-header Detalles de la Admisión // Translated
        div.card-body
          if admision
            dl.row
              dt.col-sm-4 ID
              dd.col-sm-8= admision.id
              dt.col-sm-4 Tipo // Translated
              dd.col-sm-8= admision.tipo_admision
              dt.col-sm-4 Fecha // Translated
              dd.col-sm-8= admision.fecha_admision ? new Date(admision.fecha_admision).toLocaleString() : 'N/A'
              dt.col-sm-4 Estado // Translated
              dd.col-sm-8= admision.estado_admision
          else
            p.text-danger Detalles de la admisión no disponibles. // Translated
    div.col-md-6
      div.card
        div.card-header Detalles del Paciente // Translated
        div.card-body
          if paciente
            dl.row
              dt.col-sm-4 Nombre // Translated
              dd.col-sm-8 #{paciente.nombre} #{paciente.apellido}
              dt.col-sm-4 DNI
              dd.col-sm-8= paciente.dni
          else
            p.text-danger Detalles del paciente no disponibles. // Translated

  // Sección de Camas Disponibles
  h3.mt-4 Camas Disponibles para Asignación // Translated

  if camasDisponibles && camasDisponibles.length > 0
    div.table-responsive.mt-3
      table.table.table-striped.table-hover.table-bordered
        thead.thead-dark
          tr
            th Ala // Translated
            th Hab. Nº // Translated
            th Cód. Cama // Translated
            th Estado // Translated
            th Acción // Translated
        tbody
          each cama in camasDisponibles
            tr
              td= cama.ala_nombre
              td= cama.numero_habitacion
              td= cama.codigo_cama
              td 
                span(class=`badge badge-${cama.estado_cama === 'Libre' || cama.estado_cama === 'Higienizada' ? 'success' : 'secondary'}`)= cama.estado_cama
              td
                form(method="POST" action=`/asignaciones-cama/admision/${admision.id}/asignar-cama`)
                  input(type="hidden" name="cama_id" value=cama.id)
                  button(type="submit" class="btn btn-success btn-sm") Asignar esta Cama // Translated
  else
    p.alert.alert-warning.mt-3 No hay camas disponibles actualmente que cumplan los criterios (Libre/Higienizada). // Translated

  hr
  div.mt-3
    a(href=`/admisiones/${admision ? admision.id : ''}` class="btn btn-secondary") Cancelar Asignación // Translated
